<footer>
  <div class="container">
    <div class="row">
      <div class="left-block">
        <img src="../../assets/images/logo-white.png" alt="logo" />
        <p>
          We are specialist protecting your assets and reputation to make sure
          you operate risk-free and focus on your core business.
        </p>
        <p>
          <strong>Address: </strong>
          Hobbemakade 29, 1071 XK, Amsterdam, Netherlands
        </p>
        <p>
          <strong>E-mail: </strong>
          safeguard_help@gmail.com
        </p>
      </div>
      <div class="middle-block">
        <h3>Main</h3>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Our history</a></li>
          <li><a href="#">Contact us</a></li>
        </ul>
      </div>
      <div class="right-block">
        <h3>Services</h3>
        <ul>
          <li><a href="#">Training and Implementation</a></li>
          <li><a href="#">Cyber Consultants</a></li>
          <li><a href="#">Consultancy and brand protection</a></li>
          <li><a href="#">Software</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
