<section class="about" id="about">
  <div class="container about">
    <div class="row">
      <div class="block" *ngFor="let text of texts">
        <h3>
          <span>{{ text.textNum }}</span
          >{{ text.textHeader }}
        </h3>
        <p>{{ text.text }}</p>
      </div>
    </div>
    <div class="row">
      <div class="left-part">
        <h2><span>Who We</span> Are</h2>
        <p>
          With our global footprint and our specialized team members and
          partners we know what it takes to make sure that we can deliver a
          minimum risk environment for our clients.
        </p>
        <p>
          We know that timing is key, when to accelerate and when to slow down.
          Having our clients brand top of mind, we make sure that communication,
          teamwork and quality reports is a given.
        </p>
        <h3>A team dedicated to protect your assets and reputation:</h3>
        <ul>
          <li>Of experience in minimizing risk and protecting assets</li>
          <li>Of experience in minimizing risk and protecting assets</li>
        </ul>
      </div>
      <div class="right-part">
        <img src="../../assets/images/about-me.png" alt="about-me" />
        <a href="#" class="scroll-up"
          ><img src="../../assets/images/up.png" alt="up"
        /></a>
      </div>
    </div>
  </div>

</section>
